.form-input-2 {
  @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

.btn {
  @apply rounded-md text-sm px-3 py-2 font-semibold ring-1 ring-inset ring-gray-300;
}
.btn-tertiary {
  @apply bg-white text-gray-900 hover:bg-gray-50 focus-visible:outline-offset-0;
}
.btn-primary {
  @apply bg-indigo-600 text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
